
.heading {
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-around;
}

/* .heading p {
    margin-left: 20px;
}
.heading a {
    margin-right: 200px;
} */

.main-item {
/* float: left; */
    margin: 16px;
}

.list-boxs{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}


.box {
    width: 200px;
    height: 200px;
    background-color: aquamarine;
}


.heading2 {
    padding-top: 10px;
    padding-bottom: 40px;
}

.contents {
    padding-top: 10px;
    position: relative;
}

.contents .title-list-boxs span {
    white-space: nowrap;
    margin-right: 2rem;
}
.garis{
    height: 2px;
    width: 100%;
    background-color: aqua;
}
.title-list-boxs{
    display: flex;
    align-items: center;
}