footer{
    margin-top: 3rem;
}
.footer-top{
    background:transparent;
    color : var(--primary-color);
    padding: 3rem 0;
}
.footer-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}
.footer-top h3{
    color: #375AD7;
    }
.footer-top h3 span{
    color: #FFE500;
}
.social{
    margin-top: 2rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer-top ul{
    margin-top: 1em;
    list-style: none;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}
.footer-top ul li a{
    color: var(--disable-color);
}
.footer-top ul li a:hover{
    color: var(--primary-color);
}

.footer-bottom{
    background: var(--disable-color);
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom span{
    color: var(--primary-color);
    text-transform: uppercase;
    font-weight: 200;
}