.shoulder{
   
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.circle{
    margin: 30px;
    width: 100px;
    height: 120px;
    
}
 .dalam{
    width: 80px;
    height: 80px;
    border-radius: 100%;
    display: inline;
    margin: 30px;
    
 }

.circle a{
    display: block;
    display: flex;
    justify-content: center;
    margin-top: -20px;
    text-decoration: none;

}

.dalam a:hover{
    width: 90px;
    height: 90px;
    border-radius: 100%;
    border: solid;
}