@import url('https://fonts.googleapis.com/css2?family=Poppins');
@import "tools/variable.css";
@import "tools/reboot.css";
@import "tools/utility.css";
@import "tools/media-query.css";

/* ----------------------------------------------- */

/* Nav Start */
header{
    box-shadow: 0px 1px 6px #000;
}
.nav{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 0;
    align-items: center;
}
.nav-left{
    align-items: center;
}
.header-list{
    margin-left: 1.5rem;
}
.header-list ul li{
    list-style-type: none;
    margin: 0 0.75rem;
}
.header-list ul li a{
    color: var(--disable-color);
    font-weight: bold;
    text-decoration: none;
}
.header-list ul li a:hover{
    color: var(--primary-color);
}
/* nav End */

/* ----------------------------------------------- */

/* Hero Start */

/* Hero End */

/* ----------------------------------------------- */

/* Main Content Start */



.heading {
    padding-top: 40px;
    padding-bottom: 40px;
}

.heading p {
    float:left; 
    margin-left: 20px;
}
.heading a {
    float:right; 
    margin-right: 200px;
}

.main-item {
    float: left;
    margin: 16px;
}

.box1 {
    width: 200px;
    height: 200px;
    background-color: aquamarine;
}

.box2 {
    width: 200px;
    height: 200px;
    background-color: aquamarine;
}

.box3 {
    width: 200px;
    height: 200px;
    background-color: aquamarine;
}

.box4 {
    width: 200px;
    height: 200px;
    background-color: aquamarine;
}

.box5 {
    width: 200px;
    height: 200px;
    background-color: aquamarine;
}

.box6 {
    width: 200px;
    height: 200px;
    background-color: aquamarine;
}

.box7 {
    width: 200px;
    height: 200px;
    background-color: aquamarine;
}

.box8 {
    width: 200px;
    height: 200px;
    background-color: aquamarine;
}

.box9 {
    width: 200px;
    height: 200px;
    background-color: aquamarine;
}

.box10 {
    width: 200px;
    height: 200px;
    background-color: aquamarine;
}

.box11 {
    width: 200px;
    height: 200px;
    background-color: aquamarine;
}

.box12 {
    width: 200px;
    height: 200px;
    background-color: aquamarine;
}

.box13 {
    width: 200px;
    height: 200px;
    background-color: aquamarine;
}

.box14 {
    width: 200px;
    height: 200px;
    background-color: aquamarine;
}

.box15 {
    width: 200px;
    height: 200px;
    background-color: aquamarine;
}

.box16 {
    width: 200px;
    height: 200px;
    background-color: aquamarine;
}

.heading2 {
    padding-top: 10px;
    padding-bottom: 40px;
}

.contents {
    padding-top: 10px;
}

.contents p {
    padding-top: 230px;
    text-align: 100px;
}
/* Main Content End */

/* ----------------------------------------------- */

/* Footer Start */


/* Footer End */

/* ----------------------------------------------- */